VITE_WS_URL=wss://rtc.ktranowl.id.vn/ws
VITE_ICE_SERVERS=[{"urls":"stun:rtc.ktranowl.id.vn:3478"},{"urls":["turn:rtc.ktranowl.id.vn:3478","turns:rtc.ktranowl.id.vn:5349"],"username":"testuser","credential":"testpassword"}]
